{% extends 'layout.html' %}
{% block body %}
<div id="chart">
    <embed type="image/svg+xml" src= {{ graph_data|safe }} />
 </div>
 <div id="chart2">
    <embed type="image/svg+xml" src= {{ graph_data2|safe }} />
 </div>

 <div class="form-group">
     {{val}}
 </div>
 <div class="form-group">
    <a>Lista en X : </a>
    {{listx}}
    </div>
    <div class="form-group">
            <a class="borde-1 borde-2">Lista en Y : </a>
            {{listy}}
    </div>
    <div class="form-group">
            <a>Funcion : </a>
            {{funcion}}
    </div>
    <div class="form-group">
    {{desEstandar}}
    </div>
    <div class="form-group">
    {{errEstandar}}    
    </div>
    <div class="form-group">
    {{coeCorrelacion}}    
    </div>
    <div class="form-group">
    {{prueba}}    
    </div>  
{% endblock %}