{% extends 'layout.html' %}
{% block body %}
<div class="form-group">
<a>¿Que metodo desea realizar?</a>
</div>
<div class="form-group">
    <a href='/regresion_tam' class="btn btn-secondary">Regresión Lineal</a>
</div>
<div class="form-group">
    <a href='/modelo_tam' class="btn btn-secondary">Modelo Exponencial</a>
</div>
<div class="form-group">
    <a href='/ecuacion_tam' class="btn btn-secondary">Ecuación de potencias</a>
</div>
<div class="form-group">
    <a href='/razon_tam' class="btn btn-secondary">Razón de crecimiento</a>
</div>
<div class="form-group">
    <a href='/polinomio2_tam' class="btn btn-secondary">Regresión Polinomial(2)</a>
</div>
<div class="form-group">
    <a href='/polinomio3_tam' class="btn btn-secondary">Regresión Polinomial(3)</a>
</div>
{% endblock %}